

<div class="continent-bars ">
    <div class="continent-item"   onclick="" [routerLink]="['/ourcoffe/africa']">
        <div class="title"><span style="color:#ad4f21;">Afrique</span></div>
        <div>
            <img class="pattern" src="../../assets/images/pattern-afrique-min.png" alt="">
        </div>
    </div>
    <div class="continent-item"    onclick="" [routerLink]="['/ourcoffe/northamerica']">
        <div class="title"><span style="color:#c82542;">Amérique du Nord</span></div>
        <div>
            <img class="pattern" src="../../assets/images/pattern-amn-min.png" alt="">
        </div>
    </div>
    <div class="continent-item"   onclick="" [routerLink]="['/ourcoffe/centralamerica']">
        <div class="title"><span style="color:#4b90c6;">Amérique Centrale</span></div>
        <div>
            <img class="pattern" src="../../assets/images/pattern-amc-min.png" alt="">
        </div>
    </div>
    <div class="continent-item"    onclick="" [routerLink]="['/ourcoffe/southamerica']">
        <div class="title"><span style="color:#7bb941;">Amérique du Sud</span></div>
        <div>
            <img class="pattern" src="../../assets/images/pattern-ams-min.png" alt="">
        </div>
    </div>
    <div class="continent-item"    onclick="" [routerLink]="['/ourcoffe/asia']">
        <div class="title"><span style="color:#f1a670;">Asie</span></div>
        <div>
            <img class="pattern" src="../../assets/images/pattern-asi-min.png" alt="">
        </div>
    </div>
</div>