<app-black-bar [type]="'title'" [text]="'Découvrez nos partenaires exclusifs'"></app-black-bar>

<section class="intro">
    <h3>
        Pour déguster nos cafés aussi en dehors de chez vous, <br>
        rendez-vous dans nos cafés et restaurants partenaires!
    </h3>
</section>


<section class="our-partners container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../assets/images/partners-clay.png" alt="">
                    <div class="wrap-mask border-4"></div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        CLAY
                    </h6>
                    <p class="mb-0 text-center">Bd de Marseille – Zone 4 - Abidjan
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../assets/images/partners-chezrichard.png" alt="">
                    <div class="wrap-mask border-4"></div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        CHEZ RICHARD’S
                    </h6>
                    <p class="mb-0 text-center">Square Center– Zone 3 - Abidjan

                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../assets/images/partners-afriquecafe.png" alt="">
                    <div class="wrap-mask border-4"></div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        AFRICAFE
                    </h6>
                    <p class="mb-0 text-center">Ivoire Trade Center– Cocody - Abidjan

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>