.title{
    text-align: center;
    margin: 20px 0;
}
.swiper-container{
    padding-top: 60px;
    padding-bottom: 60px;

    img{
        width: 100%;
    }

}
.Address{
    text-align: center;
    margin-bottom: 80px;
}
