<div class="title">
    <h3>
        Notre Boutique Café Continent est ouverte!
    </h3>

</div>

<!-- Pictures section
    ================================================== -->

<div class="swiper-container">
                    <swiper [slidesPerView]="3" [spaceBetween]="10" [autoplay]="true">
                        <ng-template swiperSlide>
                            <div class="section country-image-container full-img border-4">

                                <img src="../../../assets/images/store-pic-1.png" alt="">


                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="section country-image-container full-img border-4">

                                <img src="../../../assets/images/store-pic-2.png" alt="">


                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="section country-image-container full-img border-4">

                                <img src="../../../assets/images/store-pic-3.png" alt="">


                            </div>
                        </ng-template>
                        <div class="swiper-pagination"></div>
                    </swiper>

</div>

<div class="Address">
  <h4>  Vous nous trouverez au <strong>Square Center en Zone 3</strong>
    Entre Leader Price et Chez Richard’s
    <br>
    <br>
    On vous accueille du <strong>Lundi au Samedi de 9h à 20h</strong>
    <br>
    <br>
    Notre Barista d’exception vous attend au<strong> Coin Café </strong> pour vous faire découvrir nos cafés de spécialités!
</h4>
    
</div>