<div class="title">
    <h3>
        Notre Boutique Café Continent est ouverte!
    </h3>

</div>

<!-- Pictures section
    ================================================== -->

<div class="swiper-container container .swiper-container-horizontal">
    <swiper [slidesPerView]="3" [spaceBetween]="10" [autoplay]="true"  [pagination]="{ clickable: true }">
        <ng-template swiperSlide *ngFor="let img of storeImages">
            <div class="section country-image-container full-img border-4">

                <img src="../../../assets/images/{{img}}" alt="">


            </div>
        </ng-template>
        <div class="swiper-pagination"></div>
    </swiper>

</div>

<div class="Address">
    <h4> Vous nous trouverez au <strong>Square Center en Zone 3</strong>
        Entre Leader Price et Chez Richard’s
        <br>
        <br>
        On vous accueille du <strong>Lundi au Samedi de 9h à 20h</strong>
        <br>
        <br>
        Notre Barista d’exception vous attend au<strong> Coin Café </strong> pour vous faire découvrir nos cafés de
        spécialités!
    </h4>

</div>