<section class="intro container">
    <h3>
        Nous vous proposons un large choix de cafés adaptés à vos besoins:<br>
        Faites vite votre sélection en fonction de votre machine!<br><br>

        Sans oublier nos équipements pour devenir le Barista de la maison !
    </h3>
</section>

<section class="shop container">

    <div class="title">
        <h3>NOS CAFES</h3>
    </div>

    <div class="row no-cafe">
        <div class="col-12 col-lg-4 item color-filter">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/e-shop-1-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        CAFÉ FILTRE
                    </h6>
                    <p class="mb-0 text-center">Cafetière à filtre, Moka Pot, V60 et French Press

                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4  item color-espresso">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/e-shop-2-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        CAFÉ ESPRESSO

                    </h6>
                    <p class="mb-0 text-center">Toute machine à espresso avec ou sans moulin


                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4  item color-cap">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/e-shop-3-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        CAFÉ CAPSULES

                    </h6>
                    <p class="mb-0 text-center">Toute les machines à capsules type ‘Nespresso’


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <h3>NOS EQUIPEMENTS</h3>
    </div>

    <div class="row no-equipment">
        <div class="col-12 col-lg-4 item color-filter">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/equipment-1-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        MACHINES
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4  item color-espresso">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/equipment-2-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        ACCESSOIRES & FILTRES


                    </h6>
                  
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4  item color-cap">
            <div class="portfolio-wrap-2 img-wrap">
                <div class="section border-4">
                    <img class="border-4" src="../../../../../../assets/images/equipment-3-min.png" alt="">
                    <div class="wrap-mask border-4">
                    </div>
                </div>
                <div class="portfolio-wrap-2-text">
                    <h6 class="mb-1 text-center">
                        TASSES
                    </h6>
                  
                </div>
            </div>
        </div>
    </div>
</section>