<section class="intro container">
    <h3>
        Nous vous proposons un large choix de cafés adaptés à vos besoins:<br>
        Faites vite votre sélection en fonction de votre machine!<br><br>

        Sans oublier nos équipements pour devenir le Barista de la maison !
    </h3>
</section>

<section class="shop container">

    <div class="title">
        <h3>NOS CAFES</h3>
    </div>

    <div class="row no-cafe">
        <div class="col-12 col-lg-4 item color-filter">
            <h4 class="color-filter">Café Filtre</h4>
            <img src="../../../../../assets/images/cafetiere.png">
            <span class="desc">
                Cafetière à filtre, Moka Pot,
                V60 et French Press
            </span>
        </div>
        <div class="col-12 col-lg-4  item color-espresso">
            <h4 class="color-espresso">Café Espresso  </h4>
            <img src="../../../../../assets/images/cafe-espresso.png">
            <span class="desc">
                Toutes les machines à espresso avec ou sans moulin
            </span>
        </div>
        <div class="col-12 col-lg-4  item color-cap">
            <h4 class="color-cap">Café Capsule</h4>
            <img src="../../../../../assets/images/cafe-capsule.png">
            <span class="desc">
                Toute les machines à capsules type ‘Nespresso’
            </span>
        </div>
    </div>

    <div class="title">
        <h3>NOS EQUIPEMENTS</h3>
    </div>

    <div class="row equipment">
        <div class="col-6 col-lg-3 item">
            <h4> Machines</h4>
            <img src="../../../../../assets/images/machines.png">
        </div>
        <div class="col-6 col-lg-3 item">
            <h4>Accessoires	</h4>
            <img src="../../../../../assets/images/accessoires.png">
        </div>
        <div class="col-6 col-lg-3 item ">
            <h4>Filtres</h4>
            <img src="../../../../../assets/images/filtres.png">
        </div>
        <div class="col-6 col-lg-3 item">
            <h4>Tasses
            </h4>
            <img src="../../../../../assets/images/tasses.png">
        </div>
    </div>
</section>