
<section class="intro">
    <h3>
        Retrouvez nous dans notre boutique, <br>
        ou écrivez-nous pour toute question ou renseignement
        
    </h3>
</section>

<section class="contact container">
<div class="row ">
    <div class="col-12 col-lg-6">
        <img src="../../../../assets/images/map-location.png" class="map-image">
        <div class="map-location">
            <i class="uil uil-location-pin-alt"></i>
            <h5>Notre boutique se trouve au
                Square Center en Zone 3
                </h5>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row justify-content-center px-1">
            <div class="clearfix w-100"></div>  
            <div class="col-12 mt-3 px-2">  
                <div class="form-group">
                    <input type="text"  class="form-style big form-style-with-icon section-shadow-blue" placeholder="Objet" id="contactemail" autocomplete="off">
                    <i class="input-icon big uil uil-subject"></i>
                </div>	          
            </div> 
            <div class="col-12 col-lg-6 mt-3 px-2"> 
                <div class="form-group">
                    <input type="text"  class="form-style big form-style-with-icon section-shadow-blue" placeholder="Nom" id="contactname" autocomplete="off">
                    <i class="input-icon big uil uil-user"></i>
                </div>							
            </div> 
            <div class="col-12 col-lg-6 mt-3 px-2">  
                <div class="form-group">
                    <input type="email"  class="form-style big form-style-with-icon section-shadow-blue" placeholder="Email" id="contactemail" autocomplete="off">
                    <i class="input-icon big uil uil-at"></i>
                </div>	          
            </div> 
            <div class="clearfix w-100"></div>  
            <div class="col-12 mt-3 px-2">  
                <div class="form-group">
                    <textarea name="contactmessage" class="form-style big form-style-with-icon form-textarea section-shadow-blue" placeholder="Message" id="contactmessage" autocomplete="off" rows="5"></textarea>
                    <i class="input-icon big uil uil-comment-alt-lines"></i>
                </div>	          
            </div> 
            <div class="col-12 text-center pt-4 px-2"> 
                <p id="contact-message-feedback"></p> 
                <button type="button" class="btn btn-dark-primary send-contact-message">Envoyez votre message<i class="uil uil-arrow-right size-22 ml-3"></i></button>         
            </div> 
        </div>
    </div>
</div>



</section>