
<footer class="section over-hide pt-4 pb-4 section-background-6" id="footer">
    <div class="background-dark-blue-over-darker-2"></div>
    <div class="section-1400 z-bigger">
        <div class="container-fluid">
            <div class="row">

         
    
 
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <a href="" class="link link-primary mb-1 mr-2" data-hover="Instagram">Instagram</a>
                    <a href="" class="link link-primary mb-1 mr-2" data-hover="Twitter">Twitter</a>
                    <a href="" class="link link-primary mb-1" data-hover="LinkedIn">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>