@import "../../../../styles/base/variables";

.swiper-hero-branding {
    .title-bar {
        width: 100%;
        height: 96px;
        background-color: rgba(40, 37, 47, 0.8);
        position: absolute;
        z-index: 2;
    }
    .content {
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .centered-col {
            display: inline-block;
            position: relative;

            .hero-banner-title {
                text-align: center;
                width: 100%;

                h4 {
                    color: white;
                    padding: 20px 0px;
                    position: relative;
                    z-index: 3;
                }
            }
            .middle-text {
                color: white;
                display: inline-block;
                width: 95%;
                background-color: rgb(20 18 25 / 36%);
                font-size: 22px;
                line-height: 30px;
            }
            .hero-subtitle-2 {
                cursor: pointer;
            }
            .action {
                position: absolute;
                top: 80%;
            }
        }
    }
}

.hero-bottom-section {
    &.arrow-animation {
        p {
            cursor: pointer;
        }
    }
}

.caf-black-nav {
    .title {
        font-family: "AvenirNext-Regular";
        font-size: 23px;
        color: white;
    }
}

.two-col-container {
    .col-auto {
        display: none;
    }
    .portfolio-wrap-1{
        box-shadow: 0 6px 28px hsl(0deg 0% 9% / 15%);
    }
    .text-container {
        margin-right: 15px;
        margin-left: 15px;

        h4 {
            font-weight: unset;
            font-family: "AvenirNext-Bold";
        }
    }
    .words-from-founder {
        font-family: "AvenirNext-Italic";
    }
}



@media screen and (min-width: $md) {
    .swiper-hero-branding {
        .title-bar {
            height: 67px;
  
        }
    }
}
@media screen and (min-width: $lg) {
    .swiper-hero-branding {
        .content {
            .centered-col {
                .middle-text {
                    width: 100%;
                    font-size: 31px;
                    line-height: 50px;
                }
            }
        }
    }
    .two-col-container {
        .col-auto {
            display: flex;
            height: 66px;
        }

        .text-container {
            margin-right: 0px;
            margin-left: 0;
        }
    }
}
@media screen and (min-width: $xl) {
    .swiper-hero-branding {
        .title-bar {
            padding-top: 120px;
            height: 192px;
        }
        .content {
            .centered-col {
                .hero-banner-title {
                    padding-top: 120px;

                    h4 {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}
