<div class="navigation-wrap cbp-af-header" id="navBar">
  <div class="padding-on-scroll">
    <div class="section full-width-mega-menu px-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-xl navbar-light">
              <a class="navbar-brand animsition-link d-xl-none" href="/">
                <img
                  src="~/Themes/CaffeContinent/Content/images/logo_White.png"
                  alt="logo"
                />
              </a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="col-4 navbar-nav pt-4 pt-xl-0 pr-0">
                  <li class="nav-item">
                    <a class="nav-link" href=""> Nos Cafés </a>
                  </li>

                  <li class="nav-item dropdown">
                    <a
                      class="nav-link active"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      href="#"
                    >
                      Nos Boutiques
                    </a>
                    <div class="dropdown-menu">
                      <ul class="p-0 m-0">
                        <li class="nav-item">
                          <a class="dropdown-item animsition-link" href=""
                            >E-Shop</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item animsition-link" href="">
                            Boutique</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="col-4 text-center d-none d-xl-block">
                  <a
                    class="navbar-brand animsition-link d-inline-block"
                    href="/"
                  >
                    <img
                      src="~/Themes/CaffeContinent/Content/images/logo.png"
                      alt="logo"
                    />
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
