<div class="navigation-wrap cbp-af-header" id="navBar">
  <div class="padding-on-scroll">
    <div class="section full-width-mega-menu px-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-xl navbar-light">
    

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="col-4 navbar-nav pt-4 pt-xl-0 pr-0">
                  <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['ourcoffe']"> Cafés </a>
                  </li>

                  <li class="nav-item dropdown" appNavDropdown>
                    <a
                      class="nav-link"
                      [routerLinkActive]="['active']"
                      [routerLink]="['shop']"

                    >
                      Boutiques
                    </a>
                    <div class="dropdown-menu">
                      <ul class="p-0 m-0">
                        <li class="nav-item">
                          <a class="dropdown-item animsition-link"  [routerLink]="['/e-shop']"
                            >E-Shop</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item animsition-link" [routerLink]="['shop']">
                            Boutique</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=""> Partenaires
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href=""> Formations
                    </a>
                  </li>
                </ul>
                <div class="col-4 text-center d-none d-xl-block">
                  <a
                    class="navbar-brand animsition-link d-inline-block"
                    [routerLinkActive]="['active']"
                    [routerLink]="['']"
                  >
                    <img
                      src="../../../assets/images/logo.png"
                      alt="logo"
                    />
                  </a>
                </div>
                
                <div class="col-12 col-lg-4 text-xl-right header-links">
                    <a class="nav-link" role="button" [routerLinkActive]="['active']" href="">Contact</a>

                  <a href=""
                     class="btn btn-icon-transparent btn-44 mt-4 mt-xl-0 position-relative" data-toggle="modal" data-target="#modalCart">
                      <i class="uil uil-cart size-20"></i>
                      <span class="btn-small-icon bg-primary color-white cart-qty"></span>
                  </a>
              </div>
              
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
