.notre-caffe {
}

.hero-title {
    color: white;
}

.hero-banner-title {
    margin-top: 20px;
    background-color: rgba(239, 237, 245, 0.8);
    text-align: center;
}

.hero-banner-title h4 {
    color: black;
    padding: 20px 0px;
}
.hero-branding-img-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
