@import "../../styles/base/variables";

.swiper-hero-branding {
    .hero-banner-title {
        background-color: rgb(40 37 47 / 80%);
        text-align: center;
        width: 100%;

        h4 {
            color: white;
            padding: 20px 0px;
        }
    }
    .hero-title {
        color: white;
        display: inline-block;
        width: 95%;
        background-color: rgb(20 18 25 / 36%);
        font-size: 22px;
        line-height: 30px;
    }
    .hero-subtitle-2 {
        cursor: pointer;
    }

    .hero-branding-img-1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.hero-bottom-section {
    &.arrow-animation {
        p {
            cursor: pointer;
        }
    }
}

.caf-black-nav {
    .title {
        font-family: "AvenirNext-Regular";
        font-size: 23px;
        color: white;
    }
}

.two-col-container {
    .col-auto {
        display: none;
    }
    .text-container {
        margin-right: 15px;
        margin-left: 15px;

        h4 {
            font-weight: unset;
            font-family: "AvenirNext-Bold";
        }
    }
    .words-from-founder{
        font-family: "AvenirNext-Italic";
    }
}

@media screen and (min-width: $lg) {
    .swiper-hero-branding {
        .hero-title {
            width: 65%;
            font-size: 40px;
            line-height: 50px;
        }
    }
    .two-col-container {
        .col-auto {
            display: flex;
            height: 66px;
        }
        .text-container {
            margin-right: 0px;
            margin-left: 0;
        }
    }
}
@media screen and (min-width: $xl) {
    .swiper-hero-branding {
        .hero-banner-title {
            padding-top: 120px;
        }
    }
}
