<div class="section over-hide full-height full-height-xl">
    <swiper class="section swiper-hero-branding" [autoplay]="true">
        <ng-template swiperSlide *ngFor="let img of heroImages">
            <div class="section full-height full-height-xl hero-branding-img-1"
                [style.background-image]="'url(../../assets/images/' + img + ')'">
                <div class="hero-banner-title">
                    <h4>
                        Le premier café de spécialité torréfié en Côte d’Ivoire
                    </h4>
                </div>
                <div class="hero-center-section text-center">
                    <div class="section parallax-fade-hero">
                        <h1 class="mb-4 hero-title" data-swiper-parallax-y="150" data-swiper-parallax-duration="700">
                            Des cafés arabica délicatement sélectionnés dans les quatre coins du monde, purs ou
                            mélangés à du robusta Ivoirien de grande qualité.
                            Le tout, torréfié avec soin en Côte d’Ivoire!

                        </h1>
                    </div>
                    <!-- <div class="section parallax-fade-hero-2">
                        <p class="lead mb-5 mb-sm-0 text-center font-weight-400" data-swiper-parallax-y="-100"
                            data-swiper-parallax-duration="1000">
                            <span class="hero-subtitle-2 color-black">
                                En Découvrir Plus
                            </span>
                        </p>
                    </div> -->
                </div>
            </div>
        </ng-template>
        <div class="swiper-pagination fade-hero"></div>
        <div class="swiper-button-prev fade-hero"><i class="uil uil-minus size-18"></i></div>
        <div class="swiper-button-next fade-hero"><i class="uil uil-plus size-18"></i></div>
    </swiper>



    <div class="hero-bottom-section arrow-animation">
        <div class="section-1400">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-auto fade-hero">
                        <span (click)="scrollToElement(quisommenous)" class="text-decoration-none know-more-link"
                            data-gal='m_PageScroll2id'>
                            <p class="font-weight-700 mb-0 size-18 text-vertical">
                                Découvrir Plus
                                <i class="uil uil-arrow-down mt-3"></i>
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div #quisommenous class="section over-hide py-3 bg-black landing-shadow-5  z-bigger-i-2 mb-5 caf-black-nav">
    <app-black-bar [type]="'title'" [text]="'Qui sommes-nous?'"></app-black-bar>
</div>

<section class="section-1400 two-col-container">
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="1"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-1.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">BRANDING</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        Notre mission:
                    </h3>
                    <p class="lead mb-4">
                        Développer du café de spécialité en Côte d’Ivoire et en Afrique de l’Ouest.
                    </p>
                    <h3 class="mb-4 pt-3 title">
                        Comment ?
                    </h3>
                    <p class="lead mb-4">
                        En proposant des cafés uniques de haute qualité, des équipements modernes, une méthode de
                        préparation exceptionnelle et un savoir-faire développé.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="2"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-2.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">ART DIRECTION</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div
            class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0 order-lg-first">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        Nos cafés:
                    </h3>
                    <p class="lead mb-4">
                        Café Continent propose pour sa gamme espresso, des mélanges subtils entre du café robusta
                        Ivoirien, de la plus haute qualité donnant du corps et de l’intensité, et des arabica aux
                        multiples origines.
                        <br><br>
                        Nos grains arabica, issus des meilleurs crus et choisis pour leur finesse et leur richesse
                        aromatique, proviennent de 5 terres différentes: Asie, Afrique, Amérique du Sud, du Nord et
                        Centrale, pour faire voyager vos papilles!
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="1"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-3.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">BRANDING</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        A chacun son café!
                    </h3>
                    <p class="lead mb-4">
                        Notre café a été pensé pour s’adapter à tout type de préparation. Aussi bien pour les friands de
                        la machine à filtre simple d’utilisation ou du V60, que pour les fans du traditionnel café
                        italien qui optent pour la machine espresso ou pour les adeptes des capsules. <br>

                        Nos capsules sont compatibles ‘Nespresso’, et nous mettons en place une démarche écologique avec
                        des capsules <strong>biodégradables!</strong>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="2"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-4.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">ART DIRECTION</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div
            class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0 order-lg-first">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        Notre goût unique:
                    </h3>
                    <div class="lead mb-4">
                        CAFÉ CONTINENT propose des cafés de grande qualité par ses mélanges d’exception mais aussi grâce
                        à un processus de fabrication maîtrisé de A à Z:
                        <ul class="list-style list-arrow">
                            <li> Des grains de haute qualité minutieusement sélectionnés par nos spécialistes; gradés à
                                +80 sur l’échelle SCA (Specialty Coffee Association)</li>
                            <li> Des mélanges 100% naturels, sans aucun arôme artificiels;</li>
                            <li>Une fraîcheur incomparable issue d’une torréfaction locale.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="1"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-5.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">BRANDING</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        La qualité au rendez-vous
                    </h3>
                    <p class="lead mb-4">
                        Chez Café Continent, la qualité n’est pas le fruit du hasard mais d’une sélection minutieuse
                        faite dans nos ateliers afin de ne choisir que les meilleurs grains.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" data-scroll-reveal-id="2"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-6.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">ART DIRECTION</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div
            class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0 order-lg-first">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        Torréfié en Côte d’Ivoire
                    </h3>
                    <p class="lead mb-4">
                        C’est une étape clé qui permet de « cuire » les grains pour développer et mettre en valeur leurs
                        arômes. <br>

                        Les réactions des grains lors de la torréfaction seront différentes en fonction de leur variété,
                        leur terroir, le type de récolte… cette cuisson est une étape clé et déterminante pour avoir un
                        café au goût subtil et d’exception !<br>

                        C’est un vrai travail scientifique et méthodique que nous réalisons dans notre atelier à Abidjan
                        avec un équipement technologique très avancé!
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center padding-bottom-80"
        data-scroll-reveal="enter bottom move 40px over 0.5s after 0.3s" id="mot-fondateur" data-scroll-reveal-id="1"
        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
        <div class="col-sm-10 col-md-9 col-lg-7 align-self-center">
            <a href="" class="animsition-link">
                <div class="portfolio-wrap-1 img-wrap">
                    <img src="../../assets/images/who-we-are-pic-7.png" alt="">
                    <!-- <div class="wrap-mask"></div>
                    <p class="lead mb-0 font-weight-700 text-right color-white">BRANDING</p>
                    <div class="port-wrap-text text-center-v color-white">Discover<i
                            class="uil uil-arrow-right size-22 ml-3 color-primary"></i></div> -->
                </div>
            </a>
        </div>
        <div class="text-container col-sm-10 col-md-9 col-lg-5 align-self-center px-lg-4 px-xl-5 mt-5 mt-lg-0">
            <div class="row">
                <div class="col-auto">
                    <h2 class="mb-0 py-2 pr-3 port-v-line font-weight-900 color-gray-light">
                    </h2>
                </div>
                <div class="col">
                    <h3 class="mb-4 pt-3 title">
                        Un mot du Fondateur:
                    </h3>
                    <p class="lead mb-4 words-from-founder">
                        « Café Continent regroupe qualité, découverte, culture et éducation. Nous voulons offrir une
                        nouvelle culture du café en Côte d’Ivoire qui aujourd’hui, est à nos yeux presque inexistante.
                        <br>
                        Que ce soit de la sélection des grains verts en passant par la torréfaction jusqu’à la
                        préparation en tasse, toutes les étapes sont revisitées en détails pour vous offrir le meilleur
                        café de Côte d’Ivoire. »        
                    </p>
                    <p>Hadi Beydoun</p>

                </div>
            </div>
        </div>
    </div>

</section>