@import "../../../../app/styles/base/variables";

footer {
    .title {
        color: white;
        font-family: "AvenirNext-Medium";
    }
    .section-1 {
        order:1;
        margin-bottom:20px;
        .address {
            color: white;
            line-height: 30px;
            font-size: 18px;
            .mail-link {
                // color: orange;
                color: white;
                text-decoration: underline;
           
            }
        }
    }
    .section-2 {
        align-items: center;
        justify-content: center;
        display: flex;
        order: 0;
        margin-bottom:20px ;
        .logo {
            width: 70%;
        }
    }
    .section-3{
        order: 2;
        .social-icon{
            height: 40px;
        }
    }
}

@media screen and (min-width: $lg) {
    footer {
        .title{
            margin-bottom: 30px;
        }

        .section-1 {
            order:0;
            margin-bottom:0;
        }
        .section-2 {
            order:1;
            margin-bottom:0;
            .logo {
                width: 75%;
            }
        }
        .section-3{
            order:2;
            text-align: right;
            .social-icon-container{
                text-align: right;
            }
        }
    }
}
