<footer class="section over-hide pt-4 pb-4 section-background-6" id="footer">
    <div class="background-dark-blue-over-darker-2"></div>
    <div class="section-1400 z-bigger">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12 col-lg-4 section-1">
                    <h3 class="title">Contact</h3>
                    <p class="address">
                        Mail: <a class="mail-link"
                            href="mailto: cafecontinentci@gmail.com">cafecontinentci@gmail.com</a>
                        <br>
                        Téléphone: 00 00 00 00 00
                        <br>
                        Adresse: Square Center Zone 3, Abidjan, Côte d’Ivoire
                    </p>
                </div>


                <div class="col-12 col-lg-4 section-2">
                    <img class="logo" src="../../../assets/images/logo_White.png">
                </div>


                <div class="col-12 col-lg-4 section-3">
                    <h3 class="title">Suivez notre actualité
                    </h3>
                    <div class="social-icon-container">
                        <a href="https://www.instagram.com/cafecontinent/?hl=en" [target]="'_blank'" class="link link-primary mb-1 mr-2">
                            <i class="uil uil-instagram "></i>
                        </a>
                        <a href="https://www.facebook.com/Caf%C3%A9-Continent-106582944740309/?ref=page_internal" [target]="'_blank'" class="link link-primary mb-1 mr-2">
                            <i class="uil uil-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>