@import '../../styles/base/variables';
.continent-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        
        text-align: center;
        span{
            font-size: 22px;
        }
        img{
            height: 100px
        }
    }
    .pattern {
    }
}
@media screen and (min-width:$md){

    .continent-item {  
        flex-direction: row;
        min-height: 200px;

        .title{
            min-width: 300px;

            span{
                font-size: 22px;
            }
            img{

                height: 200px
            }
        }
        .pattern {
        }
    }
}
