<div class="section over-hide bg-black">

    <div class="row" style="padding-top:20px;padding-bottom:20px">
        <div class="col-12 text-center">
            <h4 class="mb-4 mb-md-0 color-white">
                Nos Cafés minutieusement sélectionnés
            </h4>
        </div>

    </div>

</div>

<div class="section over-hide continent-bars ">
    <div class="continent-item" onclick="">
        <div class="title"><span>Afrique</span></div>
        <img class="pattern" src="../../assets/images/pattern-afrique-min.png" alt="">
    </div>
    <div class="continent-item" onclick="">
        <div class="title"><span>Amerique du nord</span></div>
     
        <img class="pattern" src="../../assets/images/pattern-amn-min.png" alt="">
    </div>
    <div class="continent-item" onclick="">
        <div class="title"><span>Amerique central</span></div>
        <img class="pattern" src="../../assets/images/pattern-amc-min.png" alt="">

    </div>
    <div class="continent-item" onclick="">
        <div class="title"><span>Amerique du sud</span></div>
        <img class="pattern" src="../../assets/images/pattern-ams-min.png" alt="">
   
    </div>
    <div class="continent-item" onclick="">
        <div class="title"><span>Asie</span></div>
        <img class="pattern" src="../../assets/images/pattern-asi-min.png" alt="">
    </div>
</div>
